@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

.App {
    min-height: 100vh;
    display: flex;
    background-image: url('./assests/background/5.webp');
    background-size: cover;
    background-position: center;
    color: #000;
}